VITE_FIREBASE_API_KEY=AIzaSyBb9CzrOacnPr58tMz_A0ufogrkNS1O6II
VITE_FIREBASE_AUTH_DOMAIN=futurepath-3d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=futurepath-3d
VITE_FIREBASE_STORAGE_BUCKET=futurepath-3d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=8786070450
VITE_FIREBASE_APP_ID=1:8786070450:web:f822dd7e849f9c02a1f2ab
VITE_FIREBASE_MEASUREMENT_ID=G-T4DPFXWXWP
VITE_FIREBASE_USE_EMULATORS=false
VITE_ADMIN_EMAIL=blackpanther272007@gmail.com
VITE_ADMIN_PASSWORD=
